* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  width: 100%;
  height: 100%;
}

